<a href="https://colab.research.google.com/github/carloscarvajal1cc/Basketball_TipOffs/blob/master/GameList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mapping Players

The purpose of this code is to create a dataset where each player is competing with all players, in order to find out the top 5.

In [2]:
import numpy as np
import pandas as pd
import io
from itertools import product

from google.colab import files
uploaded = files.upload()
Data = pd.read_csv(io.StringIO(uploaded['Players.csv'].decode('utf-8')))

Saving Players.csv to Players.csv

In [3]:
Data.head()

           Player Unnamed: 1
0      Al Horford        BOS
1    Al Jefferson        IND
2        Alex Len        PHX
3    Amir Johnson        PHI
4  Andre Drummond        DET

In [0]:
players = Data.iloc[:,0].to_numpy()

In [20]:
players

array(['Al Horford', 'Al Jefferson', 'Alex Len', 'Amir Johnson',
       'Andre Drummond', 'Andrew Bogut', 'Ante Zizic', 'Anthony Davis',
       'Aron Baynes', 'Bam Adebayo', 'Ben Simmons', 'Bismack Biyombo',
       'Boban Marjanovic', 'Bobby Portis', 'Brook Lopez', 'Channing Frye',
       'Clint Capela', 'Cristiano Felicio', 'Dakari Johnson',
       'Damian Jones', 'Daniel Theis', 'Dante Cunningham',
       'DeAndre Jordan', 'DeMarcus Cousins', 'Derrick Favors',
       'Dewayne Dedmon', 'Deyonta Davis', 'Domantas Sabonis',
       'Dragan Bender', 'Draymond Green', 'Dwight Howard',
       'Dwight Powell', 'Ekpe Udoh', 'Emeka Okafor', 'Enes Kanter',
       'Eric Moreland', "E'Twaun Moore", 'Greg Monroe', 'Harrison Barnes',
       'Hassan Whiteside', 'Ivan Rabb', 'JaKarr Sampson',
       'JaMychal Green', 'Jarrett Allen', 'JaVale McGee', 'Jeff Green',
       'Joel Embiid', 'Joffrey Lauvergne', 'John Collins', 'John Henson',
       'Johnathan Motley', 'Jonas Valanciunas', 'Jordan Bell',
       'Jordan Mickey', 'Julius Randle', 'Jusuf Nurkic',
       'Karl-Anthony Towns', 'Kelly Olynyk', 'Kenneth Faried',
       'Kevin Durant', 'Kevin Love', 'Kevon Looney', 'Kosta Koufos',
       'Kristaps Porzingis', "Kyle O'Quinn", 'LaMarcus Aldridge',
       'Larry Nance Jr.', 'LeBron James', 'Lucas Nogueira', 'Luke Kornet',
       'Marc Gasol', 'Marcin Gortat', 'Marquese Chriss', 'Mason Plumlee',
       'Maxi Kleber', 'Meyers Leonard', 'Miles Plumlee', 'Myles Turner',
       'Nene', 'Nerlens Noel', 'Nikola Jokic', 'Nikola Vucevic',
       'Otto Porter Jr.', 'Pau Gasol', 'Paul Millsap', 'Richaun Holmes',
       'Robin Lopez', 'Rondae Hollis-Jefferson', 'Rudy Gobert',
       'Ryan Anderson', 'Salah Mejri', 'Serge Ibaka', 'Skal Labissiere',
       'Steven Adams', 'Tarik Black', 'Thon Maker', 'Timofey Mozgov',
       'Trevor Booker', 'Trey Lyles', 'Tristan Thompson',
       'Tyler Cavanaugh', 'Tyler Zeller', 'Tyson Chandler',
       'Willie Cauley-Stein', 'Willie Reed', 'Willy Hernangomez',
       'Zach Collins', 'Zach Randolph', 'Zaza Pachulia'], dtype=object)

In [0]:
tip_offs = list(map(list, product(players,players)))

In [27]:
tip_offs = pd.DataFrame(tip_offs)

tip_offs.rename(columns={0:'Home_Player',1:'Away_Player'}, inplace=True)

tip_offs.head()

  Home_Player     Away_Player
0  Al Horford      Al Horford
1  Al Horford    Al Jefferson
2  Al Horford        Alex Len
3  Al Horford    Amir Johnson
4  Al Horford  Andre Drummond

In [28]:
# Removing rows that contain the same player in both columns:

#getting index where the column values are equal


indexNames = tip_offs[ tip_offs['Home_Player'] == tip_offs['Away_Player'] ].index


#Deleting those rows:


tip_offs.drop(indexNames , inplace=True)
tip_offs.head()

  Home_Player     Away_Player
1  Al Horford    Al Jefferson
2  Al Horford        Alex Len
3  Al Horford    Amir Johnson
4  Al Horford  Andre Drummond
5  Al Horford    Andrew Bogut

In [0]:
# Exporting the list to CSV

tip_offs.to_csv('Games.csv')

In [0]:
files.download('Games.csv')